@import "tailwindcss";

:root {
  --tw-gradient-from: rgb(255, 192, 203) !important; /* Light Pink */
  --tw-gradient-to: rgb(147, 112, 219) !important; /* Purple */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: hsl(200, 100%, 50%);
}
